.bg-img {
background-color: rgb(238, 238, 238);
}
.bg-imgs {

background-image: url(../Cuisine/IMG_0959.JPG);
background-size: cover;
background-repeat: no-repeat;
height: 250px;
}

.line {
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    color: black;
    text-decoration: none;
    margin: 1% 2%;
}
.line:hover {
    color: orange;
    padding-bottom: 10px;
    border-bottom: 1px solid orange;
}

.cardss {
border: 2px solid wheat;
height: 300px;
width: 100px;
}
.phone {
    font-weight: bold;
color: orange;
}

.lass >img {
    padding: 0 25%;
    border-radius: 50%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.attribution span {
    color: white;
}

/* @media (max-width: 575.98px) {
    nav a {
        display: block;
        color: red;
    }
} */