/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0;
}


/******************************************
/* LAYOUT
/*******************************************/
div, footer  {
  /* border: 2px solid yellow; */
  height: 100px;
}
header{
  height: 50px;
  padding-top: 10px;
}
main {
  height: 650px;
  bottom: 50px;
  position: relative;
}
main + section>div {
  height: 400px;
  width: 33.3333%;
  float: left;
}
main + section + section > div {
  height: 300px;
  width: 50%;
  float: left;
  background-color: #999;
}
main + section + section + section >div {
  height: 250px;
  width: 33.3333%;
  float: left;
}

main + section + section + section >div >img {
  width: 300px;
  height: 300px;
  margin-top: 15%;
 
 }
main + section + section + section {
  padding: 0 15%;
  clear: both;
  height: 400px;
}
.Pre, .Post {
  border: 2px solid yellow;
  height: 300px;
  clear: both;
}
.Post {
  height: 500px;
  clear: both;
}
.Pre {
  width: 80%;
  margin: 0 10%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
header nav{
 display: flex;
 justify-content: space-between;
}
main {
  background-image:url(../Salon\ Project/IMG_0982.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 15% 30%;
}
main>h1 {
  color: white;
  font-size: 4em;
  text-align: left;
  width: 75%;
  padding: 7% 19% 0;
}
main>p {
  margin-left: 19%;
}
h1{
  font-size: 4em;
}
span.aim {
  padding: 10px;
  color: white;
  background: black;
  margin: 50px 0 0 19%;
  font-size: 0.5em;
}
main>div{
   margin-top: 10%;
   margin-left: 19%;
   width: 15%;
   color: white;
   height: 230px;
   background-color: black;
   text-align:left;
   font-size: 0.8em;
}
main + section>div {
  padding: 5%;
  text-align: center;
}
main + section>div>img{
  width: 25%;
}
main + section + section > div {
  padding: 5%;
  text-align: left;
}
main + section + section > h2, p,span {
  margin-left: 10%;
}

main + section + section >div>img{
  width: 50%;
  height: 200px;
}
main + section + section +section >div>span {
  text-align: center;
  font-weight: bold;
  margin-left: 25%;
}
main + section + section + section >div {
  /* display: flex; */
  justify-content: center;

}
main + section + section + section >div >img {
 width: 300px;
 height: 300px;

}
.Pre {
  background-image: url(../Salon\ Project/IMG_0982.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.items{
  width: 200px;
  height: 300px;
  border: 1px solid red;
}
/* 
.grid {
  height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    /* grid-gap: 5px; 
  }*/

.Post {
  width: 90%;
}
ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
li {
  list-style: none;
  margin: 0 2.5%;
  /* float: left; */

  /* width: 60%; */
  /* border: 2px solid red; */
}
a {
  text-decoration: none;
  color: black;
}
.Grid {
  width: 200px;
  border: 2px solid red;
}
.First {
  height: 200px;
}
.grid_container{

  display: inline-grid;
  grid-gap: 20px;
  /* width: 33.3333%; */
  grid-template-columns: 250px 250px 250px;
  justify-content: center;
  /* grid-template-rows: 400px 400px 400px; */
}
/* 
.Post + section > div {
  border: 2px dashed green;
  height: 300px;
  width: 33.3333%;
  float: left;
}
.first,.third,.fourth,.fifth,.sixth {
  background-image: url(../IMG_0982.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.second{
  background-image: url(../IMG_0982.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}
.Post + section  div > .second {
  height: 500px;
} */